@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/btn';
@import 'blocks/delivery';
@import 'blocks/title';
@import 'blocks/system';