.attraction {
    position: relative;
    margin-top: 200px;
    background-color: $main-black;
    height: 680px;
    &__text {
        padding-top: 180px;
        width: 515px;
    }
    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        height: 680px;
        &-inner {
            position: relative;
        }
    }
    &__upper {
        position: absolute;
        top: -45px;
        right: 360px;
        z-index: 2;
        &._anim-items {
            transition: all .8s ease 0s;
            transform: rotate(0);
            opacity: 0;
            &._active {
                transform: rotate(-13deg);
                opacity: 1;
            }
        }
    }
    &__under {
        position: absolute;
        top: -60px;
        right: 95px;
        z-index: 1;
        &._anim-items {
            transition: all .8s ease 0s;
            transform: rotate(0);
            opacity: 0;
            &._active {
                transform: rotate(13deg);
                opacity: 1;
            }
        }
    }
    .c_white {
        margin: 20px 0 40px 0;
        color: #fff;
    }
    .fw400 {
        font-weight: 400;
    }
}