.system {
    margin-top: 200px;
    &__wrapper {
        margin-top: 100px;
        display: grid;
        grid-template-rows: minmax(430px, auto);
        grid-template-columns: repeat(3, minmax(auto, 350px));
        column-gap: 90px;
    }
    &__item {
        display: grid;
        grid-template-columns: minmax(auto, 350px);
        grid-template-rows: minmax(218px, auto) minmax(80px, auto) minmax(90px, auto);
        &._anim-items {
            transition: all 0.8s ease 0s;
            transform: rotate3d(1, 0, 0, 90deg);
            opacity: 0;
            &._active {
                transform: rotate3d(1, 0, 0, 0deg);
                opacity: 1;
            }
        }
    }
    &__icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    &__buttons {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 27px;
        flex-wrap: wrap;
    }
    &__divider {
        height: 1px;
        width: 100%;
        background: #CACACA;
        margin-top: 200px;
    }
    .title {
        text-align: center;
        &_red {
            margin-bottom: 7px;
        }
        &_fz28 {
            margin-bottom: 15px;
        }
        &_fz44 {
            margin-bottom: 22px;
        }
    }
}